<ion-view view-title="Be My Guide">
	<ion-content class="padding">
		<div class="row">
			<div class="col text-center">
				<img src="img/ionic.png">
				<a class="button button-block button-stable" href="#/login">Already registered? Log in here!
			</a>
			</div>
		</div>
		<p>What is your role?</p>
		<a class="button button-block button-dark" href="#/register">I am sighted
		</a>
		<a class="button button-block button-dark" href="#/register">I am blind</a>
	</ion-content>
</ion-view>
