<ion-view view-title="Login">
	<ion-content class="padding has header">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="data.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
		</div>
		<button class="button button-block button-dark" ng-click="login()">Login</button>
	</ion-content>
</ion-view>