<ion-view view-title="Register">
<ion-content class="padding has-header">
	<div class="list list-inset">

		<label class="item item-input">
			<span class="input-label">First Name</span>
			<input type="text" placeholder="Your First Name">
		</label>

		<label class="item item-input">
			<span class="input-label">Last Name</span>
			<input type="text" placeholder="Your Last Name">
		</label>

		<label class="item item-input">
			<span class="input-label">Height</span>
			<input type="text" placeholder="Your Height">
		</label>

		<label class="item item-input">
			<span class="input-label">Age</span>
			<input type="text" placeholder="Your Age">
		</label>

		<label class="item item-input">
			<span class="input-label">Postal Code</span>
			<input type="text" placeholder="Your Postal Code">
		</label>

		<label class="item item-input">
			<span class="input-label">Gender</span>
			<input type="text" placeholder="Your Gender">
		</label>

		<label class="item item-input">
			<span class="input-label">Is Blind</span>
			<input type="text" placeholder="Are you blind?">
		</label>	

		<!--hide if not blind with ng-show (send it from the front page-->
		<label class="item item-input">
			<span class="input-label">How blind</span>
			<input type="text" placeholder="from 1-10">
		</label>

		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text" placeholder="Your Username">
		</label>

		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password" placeholder="Your Password">
			<span class="input-label">Password again</span>
			<input type="password" placeholder="Your Password again">
		</label>

	</div>     
</ion-content>
</ion-view>