<ion-view view-title="Find Match">
	<ion-content class="padding has-header">
		<ion-slide-box on-slide-changed="slideHasChanged()">
			<ion-slide ng-repeat="s in [1,2,3,4,5,6,7,8]">
				<img ng-src="img/puppy-{{s}}.jpg" width="100%">
				<h2>this is puppy no. {{s}}</h2>
				<div></div>
				<!-- <div class="box blue"><h1>BLUE</h1></div> -->
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>