<ion-view view-title="Matches">
	<ion-content class="padding has-header">
		<ion-list>
			<ion-item class="item-avatar item-icon-right" ng-repeat="item in users">
				<!--<img src="{{item.user.picture.thumbnail}}"/>-->
				<img src="http://www.fillmurray.com/100/100">
				<h2>{{item.firstName}} {{item.lastName}}</h2>
				<p>lidt lækker tekst her</p>
				<i class="icon ion-chevron-right icon accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>