<ion-tabs class="tabs-dark tabs-icon-top">
	
	<!-- Matches Tab -->
	<ion-tab title="Matches" href="#/tab/matches" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
		<ion-nav-view name="tab-matches"></ion-nav-view>
	</ion-tab>

	<!-- Find Match Tab -->
	<ion-tab title="Find Match" href="#/tab/find-match" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline">
		<ion-nav-view name="tab-find-match"></ion-nav-view>
	</ion-tab>

	<!-- Settings tab -->
	<ion-tab title="Settings" href="#/tab/settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
		<ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>

	<!-- About Tab -->
	<ion-tab title="About" href="#/tab/about" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
		<ion-nav-view name="tab-about"></ion-nav-view>
	</ion-tab>

</ion-tabs>